<div class="row">
  <div class="col s12">
    <h4><i class="material-icons">keyboard_arrow_right</i>Pratos <small class="grey-text">Meu cardapio</small></h4>
    <p>
      <a [routerLink]="['new']" class="btn">
        <i class="material-icons">add_box</i>
      </a>
    </p>
  </div>
  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/sample-1.jpg">
        <span class="card-title">Prato</span>
        <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
        <hr>
        <p>R$ 11,00</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/sample-1.jpg">
        <span class="card-title">Prato</span>
        <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
        <hr>
        <p>R$ 11,00</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/sample-1.jpg">
        <span class="card-title">Prato</span>
        <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
        <hr>
        <p>R$ 11,00</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/sample-1.jpg">
        <span class="card-title">Prato</span>
        <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
        <hr>
        <p>R$ 11,00</p>
      </div>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="card">
      <div class="card-image">
        <img src="http://materializecss.com/images/sample-1.jpg">
        <span class="card-title">Prato</span>
        <a [routerLink]="['edit/1']" class="btn-floating halfway-fab red">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <div class="card-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore </p>
        <hr>
        <p>R$ 11,00</p>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
